{{#partial "content"}}

<div class="row">
    <!--<div class="panel panel-default heroes">-->
        <div class="col-md-7">
            <h2>{{thisSquad.squadName}}</h2>
            <hr>
            {{#if squadHero}}
                <ul>
                    {{#each squadHero}}
                        <li>
                            <h4 class="squadName">Hero Name: {{heroName}} | <small> Age: {{heroAge}}</small></h4>
                            <small>Ability: {{heroAbility}}</small><br>
                            <small>Weakness: {{heroWeakness}}</small>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <span class="label label-warning">No Squads Added Yet!</span>
            {{/if}}
        </div>
    <!--</div>-->
</div>

{{/partial}}
{{> layout.hbs}}