{{#partial "content"}}

<div class="container">
    <div class="panel panel-default heroes">
        <div class="panel-body">
            <h3>{{thisSquad.squadName}}</h3>
            <hr>
            {{#if squadHero}}
                <ul>
                    {{#each squadHero}}
                        <li>
                            <h4 class="squadName"> {{heroName}} | {{heroAge}}</h4>
                            <small>{{heroAbility}}</small>
                            <small>{{heroWeakness}}</small>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <span class="label label-warning">No Squads Added Yet!</span>
            {{/if}}
        </div>
    </div>
</div>

{{/partial}}
{{> layout.hbs}}